.Button {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 0;
  color: var(--text);
  background: none;
}

.Avatar {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  background: var(--primary);
  border-radius: 50%;
  color: var(--offset);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Name {
  font-size: 1.5rem;
  font-weight: 600;
}
