.button {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  text-decoration: none;
  line-height: 1;
}

.contained,
.outlined {
  padding: 0.8rem 2rem;
  border-radius: 100px;
  border: 2px solid transparent;

  &:focus {
    outline: 0;
  }
}

.contained {
  color: var(--offset);
}

.contained.primary {
  background-color: var(--primary);

  &:hover {
    background-color: var(--primary-hover);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--offset), 0 0 0 4px var(--primary);
  }
}

.contained.secondary {
  background-color: var(--secondary);

  &:focus {
    box-shadow: 0 0 0 2px var(--offset), 0 0 0 4px var(--secondary);
  }
}

.outlined.primary {
  color: var(--primary);
  border-color: var(--primary);
  background-color: var(--offset);

  &:hover,
  &:focus {
    background-color: var(--primary);
    color: var(--offset);
  }
}

.outlined.secondary {
  color: var(--secondary);
  border-color: var(--secondary);
  background-color: var(--offset);

  &:hover,
  &:focus {
    background-color: var(--secondary);
    color: var(--offset);
  }
}

.text {
  border: 0;
  background: 0;
}

.text.primary {
  color: var(--primary);
  outline: 2px solid transparent;
  outline-offset: 5px;

  &:hover {
    color: var(--primary-hover);
  }

  &:focus {
    outline: 2px solid var(--primary);
  }
}

.text.secondary {
  color: var(--secondary);
}
