.Button {
  text-align: center;
  padding: 1rem 2rem;
  background-color: var(--primary);
  color: var(--offset);
  border: none;
  border-radius: 100px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: box-shadow 0.15s ease-in-out;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px var(--offset), 0 0 0 4px var(--primary);
  }
}

.Inverted {
  background-color: var(--offset);
  color: var(--primary);
}
