.section {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}

.title {
  margin-bottom: 3rem;
}

.smallTitle {
  font-size: 2rem;
}

.list {
  list-style: none;
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));

  @media only screen and (max-width: 576px) {
    grid-template-columns: 1fr;
  }
}

.itemExitActive {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}
