.section {
  display: flex;
  gap: 10rem;
  margin-top: 8rem;

  @media screen and (max-width: 1100px) {
    justify-content: center;
  }
}

.illustration {
  flex-basis: 40rem;

  @media screen and (max-width: 1100px) {
    display: none;
  }
}
