.section {
  padding-bottom: 4rem;
}

.title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 4rem;
}

.svgWrapper {
  text-align: center;
}

.svg {
  max-width: 50rem;
  margin: 0 auto;
}
