.Item {
  display: flex;
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ImageWrapper {
  height: 15rem;
  width: 15rem;
  background-color: var(--bg);
  border-radius: 3rem;
  overflow: hidden;
  margin-right: 3rem;
  flex-shrink: 0;
  align-self: center;

  @media only screen and (max-width: 576px) {
    width: 12rem;
    height: 12rem;
  }
}

.Image {
  width: 100%;
}

.Title {
  @media only screen and (max-width: 340px) {
    font-size: 1.5rem;
  }
}

.Publisher {
  color: var(--light-text);
  font-weight: 600;
  font-size: 1.4rem;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button {
  font-size: 1.4rem;
  height: 100%;
}
